<section>
  <div class="block no-padding  gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner2">
            <div class="inner-title2">
              <h3>About Us</h3>
            </div>
            <div class="page-breacrumbs">
              <ul class="breadcrumbs">
                <li><a routerLink="/home" title="">Home</a></li>
                <li><a routerLink="/about_us" title="">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about-us">
            <div class="row">
              <div class="col-lg-12">
                <h3>About PROGET</h3>
              </div>
              <div class="col-lg-7">
                <p>PROGET is a french company was founded in 2010 by Jean-Francois Ruiz, based in Tunisia.<br/>PROGET is dedicated to create real values for its clients and consultants, through a full range of performance and services.</p>
                <p>PROGET offers quality Recruitment Agency services to place the right people with the right jobs all over the World whether you are looking to hire new staff or find a new job, we’re happy to offer you our services. We’ll have your hiring or job-seeking needs met in no time .</p>
              </div>
              <div class="col-lg-5">
                <img src="../../../assets/logop.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div>
    <img src="../../../assets/our_values.jpg" style="width: 50%; margin-left: 25%">
  </div>
</section>
<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about-us">
            <div class="row">
              <div class="col-lg-12">
                <p>We provide you with all the required competencies, qualifications, and managerial staff that match with your demands.
                  As we have all the Labour force, both foreign and Tunisian, with large experience in all specialities. Also, we would like to inform you that our Tunisian competencies master three languages, Arabic, French, as well as English in all domains.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="block remove-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="our-services">
            <div class="row">
              <div class="col-lg-12"><h2>Our Service</h2></div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-clock-o"></i><div class="service-info"><h3>Advertise A Job</h3></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-search"></i><div class="service-info"><h3>CV Search</h3></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-user"></i><div class="service-info"><h3>Recruiter Profiles</h3></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-codepen"></i><div class="service-info"><h3>Temp Search</h3></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-tv"></i><div class="service-info"><h3>Display Jobs</h3></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-diamond"></i><div class="service-info"><h3>Training</h3></div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
