<section>
  <div class="block double-gap-top double-gap-bottom">
    <div data-velocity="-.1" style="background: url(../../../assets/sn1.png) repeat scroll 0% 0px transparent;" class="parallax no-parallax layer blackish"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-location-sec">
            <h3><strong>Great Job</strong> Greater Talent</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading">
            <h2>How It Works</h2>
            <span>Each month, more than 7 million Jobhunt turn to website in their search for work, making over <br />160,000 applications every day.
							</span>
          </div><!-- Heading -->
          <div class="how-to-sec style2">
            <div class="how-to">
              <span class="how-icon"><i class="la la-user"></i></span>
              <h3>Register an account</h3>
              <p>Register as recruiter to be able to post offers and see candidats profiles</p>
            </div>
            <div class="how-to">
              <span class="how-icon"><i class="la la-file-archive-o"></i></span>
              <h3>search for candidats</h3>
              <p>Browse profiles, reviews, and proposals then interview top candidates. </p>
            </div>
            <div class="how-to">
              <span class="how-icon"><i class="la la-list"></i></span>
              <h3>Select Top candidats</h3>
              <p>Use the Upwork platform to choose candidats from your desktop or on the go.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="block no-padding">
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-6">
          <div data-velocity="-.1" style="background: url(../../../assets/can.jpg) repeat scroll 0% 0px transparent;" class="parallax no-parallax layer blueish"></div><!-- PARALLAX BACKGROUND IMAGE -->
          <div class="who-am">
            <h3>I AM RECRUITER!</h3>
            <p>One of our jobs has some kind of flexibility option such as telecommuting, a part-time schedule or a flexible or flextime.</p>
            <div class="btn-extars">
              <ul class="account-btns">
                <li class="signup-popup"><a title="">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div data-velocity="-.1" style="background: url(../../../assets/rec.jpg) repeat scroll 0% 0px transparent;" class="parallax no-parallax layer color greenl"></div><!-- PARALLAX BACKGROUND IMAGE -->
          <div class="who-am flip">
            <h3>I AM JOBSEEKER!</h3>
            <p>One of our jobs has some kind of flexibility option such as telecommuting, a part-time schedule or a flexible or flextime.</p>
            <div class="btn-extars">
              <ul class="account-btns">
                <li class="signup-popup"><a title="">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="block no-padding">
    <div data-velocity="-.2" style="background: url(../../../assets/appdown.jpg) repeat scroll 0% 0px transparent;" class="parallax no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-10">
          <div class="download-sec">
            <div class="dbg">
            <div class="download-text">
              <h3>Download & Enjoy</h3>
              <p>Search, find and apply for jobs directly on your mobile device or desktop Manage all of the jobs you have applied to from a convenience secure dashboard.</p>
              <ul>
                <li>
                  <a href="#" title="">
                    <i class="la la-apple"></i>
                    <p>Get it on</p>
                    <span>App Store</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="">
                    <i class="la la-android"></i>
                    <p>Get in on</p>
                    <span>Google Play</span>

                  </a>
                </li>
              </ul>
              <br/>
            </div>
            </div>
            <div class="download-img">
              <img src="../../../assets/mobiledown.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
