<div class="account-popup-area signup-popup-box">
  <div class="account-popup">
    <span class="close-popup"><i class="la la-close"></i></span>
    <h3>Sign Up</h3>
    <div class="select-user">
      <span>Candidate</span>
      <span>Employer</span>
    </div>
    <form (submit)="Register()">
      <div class="cfield">
        <input type="text" placeholder="Company name" [(ngModel)]="name" name="name"  />
        <i class="la la-user"></i>
      </div>
      <div class="cfield">
        <input type="text" placeholder="Username" [(ngModel)]="userName" name="userName" />
        <i class="la la-user"></i>
      </div>
      <div class="cfield">
        <input type="email" placeholder="Email"  [(ngModel)]="email" name="email"/>
        <i class="la la-envelope-o"></i>
      </div>
      <div class="cfield">
        <input type="password" placeholder="********" [(ngModel)]="password" name="password" />
        <i class="la la-key"></i>
      </div>
      <div class="cfield">
        <input type="text" placeholder="Contract number(optional)"  [(ngModel)]="contractNumber" name="contractNumber"/>
        <i class="la la-key"></i>
      </div>
      <div class="cfield">
        <input type="text" placeholder="adress"  [(ngModel)]="adress" name="adress"/>
        <i class="la la-building"></i>
      </div>
      <div class="cfield">
        <input type="text" placeholder="Phone Number(ex:0021695304452)" [(ngModel)]="phone" name="phone" />
        <i class="la la-phone"></i>
      </div>
      <flash-message></flash-message>
      <button type="submit">Signup</button>
    </form>
      </div>
</div><!-- SIGNUP POPUP -->
