<section>
  <div class="block no-padding  gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner2">
            <div class="inner-title2">
              <h3>Contact us</h3>
            </div>
            <div class="page-breacrumbs">
              <ul class="breadcrumbs">
                <li><a routerLink="/home" title="">Home</a></li>
                <li><a routerLink="/contact_us" title="">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block remove-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-map">
            <!--<div id="map_div">&nbsp;</div>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.5654128216106!2d10.59272531489134!3d35.83513698015872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8af503135e7b%3A0xab449b943d506b92!2sPROGET+Assistance+aux+projets!5e0!3m2!1sfr!2stn!4v1527950986183" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 column">
          <div class="contact-form">
            <h3>Keep In Touch</h3>
            <form>
              <div class="row">
                <div class="col-lg-12">
                  <span class="pf-title">Full Name</span>
                  <div class="pf-field">
                    <input type="text" placeholder="ex: John Widow" />
                  </div>
                </div>
                <div class="col-lg-12">
                  <span class="pf-title">Email</span>
                  <div class="pf-field">
                    <input type="text" placeholder="exemple@gmail.com" />
                  </div>
                </div>
                <div class="col-lg-12">
                  <span class="pf-title">Subject</span>
                  <div class="pf-field">
                    <input type="text" placeholder="Subject" />
                  </div>
                </div>
                <div class="col-lg-12">
                  <span class="pf-title">Message</span>
                  <div class="pf-field">
                    <textarea placeholder="write your Message"></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="submit">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 column">
          <div class="contact-textinfo style2">
            <h3>JobHunt Office</h3>
            <ul>
              <li><i class="la la-map-marker"></i><span>Avenue Yasser Arafat, Immeuble Mahdi - 3ème étage - B302 - Sahloul II, Sousse 4054 </span></li>
              <li><i class="la la-phone"></i><span>Call Us : (+216)73 368 424 </span></li>
              <li><i class="la la-fax"></i><span>Fax : (+216)73 368 425</span></li>
              <li><i class="la la-envelope-o"></i><span>Email : contact@proget-jobs.com</span></li>
              <li>
                <div class="share-bar circle">
                  <a href="https://www.facebook.com/Proget.recrutement/?ref=br_rs" target="_blank" class="share-fb"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/ProgetJobs" target="_blank" class="share-twitter"><i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/proget.2010.jobs/" target="_blank"  class="share-instagram"><i class="fa fa-instagram"></i></a><a href="https://www.linkedin.com/in/ProgetJobs" target="_blank" class="share-linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
