<section>
  <div class="block no-padding">
    <div class="container">
      <div class="row no-gape">
        <div class="col-lg-9 column">
          <div class="padding-left">
            <div class="profile-title" id="mp">
              <h3>My Profile</h3>
            </div>
            <div class="profile-form-edit">
              <form>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="pf-title">Company Name</span>
                    <div class="pf-field">
                      <input type="text" placeholder="Tera Planer" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Contract Number</span>
                    <div class="pf-field">
                      <input type="text" placeholder="" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Email</span>
                    <div class="pf-field">
                      <input type="text" placeholder="example@example.com" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">User name</span>
                    <div class="pf-field">
                      <input type="text" placeholder="THM" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Phone number</span>
                    <div class="pf-field">
                      <input type="text" placeholder="(+216)98635428" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Country</span>
                    <div class="pf-field">
                      <select data-placeholder="Please Select country" class="chosen" title="">
                        <option>Web Development</option>
                        <option>Web Designing</option>
                        <option>Art & Culture</option>
                        <option>Reading & Writing</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="pf-title">Field</span>
                    <div class="pf-field">
                      <select data-placeholder="Please Select Specialism" class="chosen" title="">
                        <option>Web Development</option>
                        <option>Web Designing</option>
                        <option>Art & Culture</option>
                        <option>Reading & Writing</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="submit">Update</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="social-edit"  id="sn">
              <h3>Social Edit</h3>
              <form>
                <div class="row">
                  <div class="col-lg-6">
                    <span class="pf-title">Facebook</span>
                    <div class="pf-field">
                      <input type="text" placeholder="www.facebook.com/TeraPlaner" />
                      <i class="fa fa-facebook"></i>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <span class="pf-title">Twitter</span>
                    <div class="pf-field">
                      <input type="text" placeholder="www.twitter.com/TeraPlaner" />
                      <i class="fa fa-twitter"></i>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <span class="pf-title">Google</span>
                    <div class="pf-field">
                      <input type="text" placeholder="www.google-plus.com/TeraPlaner" />
                      <i class="la la-google"></i>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <span class="pf-title">Linkedin</span>
                    <div class="pf-field">
                      <input type="text" placeholder="www.Linkedin.com/TeraPlaner" />
                      <i class="la la-linkedin"></i>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="submit">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
